@model CatalogoVendas.Core.Models.TbVendas

@{
    ViewData["Title"] = "Edição de Vendas";
}

<div class="text-center">
    <h1>Editar Venda</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVenda" />
            <div class="form-group">
                <label asp-for="IdEmpresa" class="control-label"></label>
                <select asp-for="IdEmpresa" class="form-control" asp-items="ViewBag.IdEmpresa"></select>
                <span asp-validation-for="IdEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioCadastro" class="control-label"></label>
                <select asp-for="IdUsuarioCadastro" class="form-control" asp-items="ViewBag.IdUsuarioCadastro"></select>
                <span asp-validation-for="IdUsuarioCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorVenda" class="control-label"></label>
                <input asp-for="ValorVenda" class="form-control" />
                <span asp-validation-for="ValorVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVenda" class="control-label"></label>
                <input asp-for="DataVenda" class="form-control" />
                <span asp-validation-for="DataVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmitidoNf" class="control-label"></label>
                <select class="form-control" asp-for="EmitidoNf">
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
                <span asp-validation-for="EmitidoNf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
